[{{ host_name }}]

user = fpm-{{ host_name }}
group = fpm-{{ host_name }}
listen = /var/run/php-fpm/{{ host_name }}.sock
listen.owner = nginx
listen.group = nginx

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

catch_workers_output = yes

# Logging
error_log = /var/www/{{ host_name }}/var/logs/php-fpm/errors.log
php_flag[display_errors] = off
php_admin_value[error_log] = /var/www/{{ host_name }}/var/logs/php-fpm/errors.log
php_admin_flag[log_errors] = on